.socket {
  display: grid;
  grid-template-areas:
    "icon name action"
    "icon description action";
  grid-template-columns: max-content 1fr max-content;
  gap: 0.5rem 1rem;
  align-items: center;
  justify-content: start;
}

.icon {
  grid-area: icon;
}

.name {
  grid-area: name;
  font-size: 1.25em;
  text-transform: uppercase;
}

.action {
  grid-area: action;
}

.description {
  grid-area: description;
  font-size: 1em;
  font-style: italic;
}
